<div fxLayout="row" fxLayoutAlign="center center">
    <div [@topLeft]="'in'" *ngIf="visible" class="div-img top-left" fxLayoutAlign="end end" fxFlex> load</div>
    <div [@topRight]="'in'" *ngIf="visible" class="div-img top-right" fxLayoutAlign="start end" fxFlex>ing...</div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <div [@bottomLeft]="'in'" *ngIf="visible" class="div-img bottom-left" fxLayoutAlign="end start" fxFlex>please </div>
    <div [@bottomRight]="'in'" *ngIf="visible" class="div-img bottom-right" fxLayoutAlign="start start" fxFlex>&nbsp; wait</div>
</div>
