img {
  width: 100%; }

.top-left {
  /*background-color: green;*/
  background-image: linear-gradient(to bottom right, #8e9eff, #eef2f3); }

.bottom-left {
  /*background-color: red;*/
  background-image: linear-gradient(to top right, #8e9eff, #eef2f3); }

.bottom-right {
  /*background-color: yellow;*/
  background-image: linear-gradient(to top left, #8e9eff, #eef2f3); }

.top-right {
  /*background-color: blue;*/
  background-image: linear-gradient(to bottom left, #8e9eff, #eef2f3); }

.div-img {
  height: 50vh;
  font-size: 4vw;
  /*background-color: red;*/ }

